:host {
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
}

.post-image img{
  width: 20%;
  box-shadow: 1px 1px 10px rgb(22, 21, 21);
}

mat-paginator{
  margin-top: 20px;
}
